<body style="background-color: #000000;">
  <img src="/assets/img/portada.png" alt="">
    <h1 class="ghibli">Studio Ghibli (スタジオジブリ, Sutajio Jiburi) </h1>
    <br><br><br><br><br><br><br><br><br>
    <section class="hero is-small">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="mx-auto">
              <h5 class="text-white">Studio Ghibli (スタジオジブリ Sutajio Jiburi) es un estudio de animación japonés, con sede en Tokio. 
                Fue fundada en 1985 por Hayao Miyazaki y Isao Takahata, y a día de hoy, han realizado más de 20 películas, además de otras 
                clases de trabajos (cortometrajes, anuncios publicitarios, películas, etc.). Tienen el respeto del público japonés y también el internacional,
                donde la crítica y el sector de la animación le presenta muchos respetos. Debido a su popularidad, se abrió el Museo Ghibli, el cual se encuentra a las afueras de Tokio y para el 2022 se espera tener listo el Ghibli Park.</h5>  
            </div>
          </div>
        </div>
      </div>
    </section>
<section class="section">
    <div class="container"> 
       
        <div class="columns is-multiline">
            <div class="column is-one-third " *ngFor="let p of films">
                <div class="card bg-dark">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="/assets/img/ghibli.jpg" alt="Imagen">
                    </figure>
                  </div>
                    <div class="card-content" >
                      <div class="media">
                        
                        <div class="media-content">
                          <div class="content">
                          <h3 class="text-center text-white">{{p.title}}</h3>
                          <p><b>Director: </b>{{p.director}}</p>
                          
                            
                          </div>
                          <div class="buttons">
                            
                            <button class="btn btn-info" type="button" [routerLink]="['/film', p.id]" size="large">Ver Más</button>
                          </div>
                          
                        </div>
                      </div>
                  
                    
                    </div>
                  </div>
            </div>
           
       
         
          </div>
          
    </div>
</section>

</body>