hr{
    width:450px;
    align-items: center;
    color: white;
}

img{
    border-radius: 0 90px 90px 90px;
    height: 350px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

h6{
    color: white;
    font: small;
    font-size: 15px;
    font-style: normal;
}

p{
    color: white;
    font: small;
    font-size: 15px;
    font-style: italic;
}