<section style="background-color: #000000;">
    <br>
    <div class="mx-auto" style="width: 30rem;">
        <img src="assets/img/cami.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" style="font-size: 40px; margin-left: 25px;" >Camila Jara Sepúlveda</h3>
          <hr>
          <h6 class="text-center">Técnico Gráfico Nivel Medio.</h6>
          <h6 class="text-center">Estudiante de Diseño Web y Mobile.</h6>
         
          <p class="text-center">Titulé técnico en gráfica, desde el principio </p>
         
          

        </div>
      </div>
      <br>
</section>
